body{
	background-image: url("happy.jpg")
}
.parent{
	display: flex;
	flex-direction: row;
	background-image:url("quotes.jpg");
	border:1px solid #000000;
	
}
.child1{
	width: 30%;
	border: 2px solid #ddd;
	padding: 1%;
	margin: 1%;
	border-radius:10%;
	font-size:25px;
	text-align: center;
	box-shadow: 4px #000000;

}

.child1 img{
	width:200px;
	height:200px; 

	display: block;
	margin-left:auto;
	margin-right: auto;
	border: 2px solid black;
	border-radius: 50%;
	box-shadow: 2px 3px 4px red;

}
.child2{
		width: 65%;
	border: 2px solid #ddd;
	padding: 1%;
	margin: 1%;
	border-radius:10%;

}
p,li,td{
	font-size: 25px;
}
td,tr{
	padding:5px 30px;
	text-align: center;
}
table{
	border-collapse: collapse;
}


@media only screen and (min-width: 320px) and (max-width: 480px){
.parent{
	display: flex;
	flex-direction: column;

}

a{
	word-wrap: break-word;
}
.child1{
	width: 100%;
	padding: 1%;
	margin: 1%;
	border-radius:8px;
	font-size:25px;
	text-align: center;

}

.child1 img{
	width:70%;
	display: block;
	margin-left:auto;
	margin-right: auto;
	border-radius: 50%;

}
.child2{
	width: 100%;
	padding: 1%;
	margin: 1%;
	border-radius:8px;

}
td,tr{
	padding:5px 8px;
	text-align: center;
}


}